<h1>Suggestions</h1>
<% content_for(:inline_javascript) do %>
  <script>
    var suggestions = new Backbone.Collection;
    suggestions.reset(<%= json_escape @suggestions.to_json.html_safe %>);
  </script>
<% end %>
